//- .name Alex
//- img.avatar(src=""  width="100" height="100")
//- .bio BIO sdd sd lkjs ldk dlskj lkj dskjh lkdj sflk sldfj
//- .skills Skills
//- .certificates Certificates
//- .social Social
//- .interests Interests
//- .education Education
//- .experience Experience
//- .contacts Contacts
