doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content = "width=device-width")
    title Title
    link(rel="stylesheet", href="./bower_components/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel="stylesheet", href="./css/style.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script(src="scripts/data.js")
    script(src="scripts/coursesAdder.js")
    script(src="scripts/certificatesAdder.js")
    script(src="scripts/controller.js")

  body    
    .container      
      .courses
      .certificate-list
        
                        
    srcipt(src="./bower_components/jquery/dist/jquery.min.js")
    srcipt(src="./bower_components/bootstrap/dist/js/bootstrap.min.js")
    srcipt(src="./bower_components/popper.js/dist/popper.min.js")
