doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content = "width=device-width")
    title Title
    link(rel="stylesheet", href="./css/style.css")
    script(src="scripts/data.js")
    script(src="scripts/coursesAdder.js")
    script(src="scripts/controller.js")
  
  body    
    .container
