doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content = "width=device-width")
    title Title
    link(rel="stylesheet", href="./css/style.css")
    script(src="scripts/jquery-3.2.1.min.js")
  body
    .name Alex
    img.avatar(src=""  width="100" height="100")
    .bio BIO sdd sd lkjs ldk dlskj lkj dskjh lkdj sflk sldfj
    .skills Skills
    
    h3 Courses
    .courses
      .provider
        p Sololearn
        ul
          li
            span.course-name HTML
            progress(value="60" max="100")
          li
            span.course-name CSS
            progress(value="50" max="100")
          li
            span.course-name JS
            progress(value="22" max="100")
          li
            span.course-name jQuery
            progress(value="22" max="100")
          li
            span.course-name SQL
            progress(value="75" max="100")
          li
            span.course-name Python
            progress(value="22" max="100")

      .provider
        p Sololearn
        ul
          li
            span.course-name HTML
            progress(value="22" max="100")
          li
            span.course-name CSS
            progress(value="22" max="100")
          li
            span.course-name JS
            progress(value="22" max="100")
          li
            span.course-name jQuery
            progress(value="22" max="100")
          li
            span.course-name SQL
            progress(value="75" max="100")
          li
            span.course-name Python
            progress(value="22" max="100")

      .provider
        p Sololearn
        ul
          li
            span.course-name HTML
            progress(value="22" max="100")
          li
            span.course-name CSS
            progress(value="22" max="100")
          li
            span.course-name JS
            progress(value="22" max="100")
          li
            span.course-name jQuery
            progress(value="22" max="100")
          li
            span.course-name SQL
            progress(value="75" max="100")
          li
            span.course-name Python
            progress(value="22" max="100")
    .certificates Certificates
    .social Social
    .interests Interests
    .education Education
    .experience Experience
    .contacts Contacts
