doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content = "width=device-width")
    title Title
    link(rel="stylesheet", href="./bower_components/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel="stylesheet", href="./css/style.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script(src="scripts/data.js")
    script(src="scripts/coursesAdder.js")
    script(src="scripts/certificatesAdder.js")
    script(src="scripts/controller.js")

  body    

    .container
      .row
        .col.col-12.col-sm-12.col-md-6
          .avatar
            img.img-fluid.rounded(src="https://lh3.googleusercontent.com/fJMFXTaMQctWoe6gUREUg8gynbFG08gfDtXfMWnmRn26FLIs5D6hYiOLs2wcqAiz8ZMcwPutVrUbMvE7kzcQRlwI9HUO0kjn7evgQ1-A-sEkmAK8_xMJZoCIy3ZHMp8QJKgJEamOl1ZwQMVFUlC5Q70-5b2JxwIiOuu0SBw0mSfBkFQdtZDv6nE7AJg56g0KfYOflQAnJQ-DOckF-1jNlATW4FSdO4_nkTN18DLUvWvW_aLZF6bzNoYhXGYlBI1NM1qJcvKaFRDHkU1lD6Xc2ZaES5R2KYdvojLYShs5VsXXotkV96gTo7DkADO92IiIHslVVG9YRX9CVuYS6XGCAcYgXM1CxD3bsnA9udzmt7Y-E1kYVM02zQEZDhldAUqmioNPt6X3VPwCyhRKxSLKuhgyeEYZhkXgL0jRjiyerO8h8PTSkhVVQFlfLq7nmEKXopEkWCk_mwqahr5gxqCTCgGmaqyIcNoUlw6APYq93nBWHnAUr_na6HqPUvOH43q9b84MQbRMYKIf_cgb6qWIEp15JUy5vIunPwSuot3BHUEiDTuf5XhD-25kisFeGSqGljtMZhNaylqqJbosRp-QOqzmWGHkdif7WyxEsc3k7Uowl_bTvfcNhGIldx-i7VwjVUi06fXsAUHWs72ZCdbgX0AOOgGMtsGjqag=w919-h918-no")          
        .col  
          h1.name.display-3 Alex
          h3 Summary
          .bio Howard Phillips Lovecraft (/ˈlʌvkræft, -ˌkrɑːft/;[1] August 20, 1890 – March 15, 1937) was an American writer who achieved posthumous fame through his influential works of horror fiction. He was virtually unknown and published only in pulp magazines before he died in poverty, but he is now regarded as one of the most significant 20th-century authors in his genre.
          
      h3 Contacts:
      .row
        .col.col-12.col-sm-6.col-lg-3
          a(href="https://github.com/AlexViy")
            .contact 
              img(src="https://image.freepik.com/free-icon/github-logo-in-a-rounded-square_318-40761.jpg")
              span AlexViy
        .col.col-12.col-sm-6.col-lg-3
          a(href="https://www.linkedin.com/in/alexander-bayrak/")
            .contact
              img(src="http://psiint.com/wp-content/uploads/2017/03/linkedin-logo-copy.png")
              span alexander-bayrak
        .col.col-12.col-sm-6.col-lg-3
          a(href="tel:+380633120180")
            .contact
              img(src="https://www.ab.bluecross.ca/images/icons/png/phone-darkblue.png")
              span +380633120180
        .col.col-12.col-sm-6.col-lg-3
          a(href="mailto:alexviy@gmail.com")
            .contact
              img(src="https://cdn.pixabay.com/photo/2015/12/08/18/39/at-sign-1083508_960_720.png")
              span alexviy@gmail.com
              
      h3 Experience:
      .row
        .col
          h5 Barista @ !FEST: Lviv Coffe Manufacture
          h6 dec.2011 - dec.2017
          p gfslkglksjv ls jsl kjdf l;kjg  lk;lk;lk ;jkjhkjh kjhkjh kjnkjhkjh
          
      h3 Education:
      .row
        .col
          h5 Bachelor @ Lviv State University Of Life Safety: Fire Safety
          h6 sep.2005 - may.2009
          p gfslkglksjv ls jsl kjdf l;kjg  lk;lk;lk ;jkjhkjh kjhkjh kjnkjhkjh
          
      h3 Courses  
      .row.courses
      h3 Certificates
      .row.certificates-list
      h3 Interests
      .row.interests
        .col
          ul.interests-list Interests
            li coding
            li woodworking
            li hiking
       
        
         


        
                        
    srcipt(src="./bower_components/jquery/dist/jquery.min.js")
    srcipt(src="./bower_components/bootstrap/dist/js/bootstrap.min.js")
    srcipt(src="./bower_components/popper.js/dist/popper.min.js")
