doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content = "width=device-width")
    title Title
    link(rel="stylesheet", href="./css/style.css")
    script(src="scripts/data.js")
    script(src="scripts/controller.js")
  body
    
    .container 
    
      .courses
        .provider
          .provider-logo
            img(src="http://rhymeswithcroatia.com/wp-content/uploads/2015/07/coursera.png")
          a.provider-link(href="#" target="_blank") 
            h2.provider-name Change me ;)
          
          ul
            li
              .courses-logo
                img(src="http://raemacias.com/images/HTML5-CSS3-JS.jpg") 
              a.courses-link(href="https://www.coursera.org/learn/html-css-javascript-for-web-developers" target="_blank") 
              
              .indicator-container
              
    
      
