@import 'defaults'

// Global Reset
*
  box-sizing: border-box
  padding: 0
  margin: 0

h1, h2, h3, h4, h5, h6
  font-weight: 300
  -webkit-font-smoothing: auto

body
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
  text-rendering: geometricPrecision
  font-family: $font

.courses
	display: flex
  flex-direction: row
.container
  padding: 48px
.provider-logo
  height: 30px
  img
    height: 100%
.courses-logo
  height: 30px
  img
    height: 100%
li
  list-style-type: none
