@import 'defaults'

// Global Reset
*
  box-sizing: border-box
  padding: 0
  margin: 0

h1, h2, h3, h4, h5, h6
  font-weight: 300
  -webkit-font-smoothing: auto
h3
  padding: 32px 0 16px

body
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
  text-rendering: geometricPrecision
  font-family: $font
  position: relative

.row
  padding-bottom: 32px
  border-bottom: 1px solid #ddd

.provider-name
  font-size: $title-small
  margin-left: 16px

.container
  padding: 48px

.bio
  margin-left: 16px

.contact
  height: 48px

  img
    height: 100%

  span
    margin-left: 16px

.courses-provider
  height: 30px
  margin-bottom: 32px

  img
    height: 100%

.provider-logo
  height: 30px

  margin-left: 16px
  background: #eee

  img
    border-radius: 50%

.progress
  margin-top: 5px

.provider
  li
    margin-bottom: 16px

  img
    height: 100%

.courses-name
  margin-left: 16px

.courses-info
  height: 30px

  img
    height: 100%

.courses-info
  height: 30px
  margin-top: 16px

  img
    height: 100%

.courses-name
  margin-top: 16px

.certificates-info
  height: 30px

  img
    height: 100%

.cert-provider
  height: 30px
  margin-bottom: 32px

  img
    height: 100%

.cert-name
  margin: 16px 0 0
  height: 30px

  img
    height: 100%

.cert-course-name
  margin-left: 16px

li
  list-style-type: none

.nav

  li
    float: left
